@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* extra toolbar buttons */

.tbx-button { list-style-image: url(chrome://toolbarext/skin/large.png); }
toolbar[iconsize="small"] .tbx-button { list-style-image: url(chrome://toolbarext/skin/small.png); }

#tbx-options-button { -moz-image-region: rect(0 32px 32px 0); }
toolbar[iconsize="small"] #tbx-options-button { -moz-image-region: rect(0 20px 20px 0); }

#tbx-addbookmark-button { -moz-image-region: rect(0 64px 32px 32px); }
toolbar[iconsize="small"] #tbx-addbookmark-button { -moz-image-region: rect(0 40px 20px 20px); }

#tbx-managebookmarks-button { -moz-image-region: rect(0 96px 32px 64px); }
toolbar[iconsize="small"] #tbx-managebookmarks-button { -moz-image-region: rect(0 60px 20px 40px); }

#tbx-save-button { -moz-image-region: rect(0 128px 32px 96px); }
toolbar[iconsize="small"] #tbx-save-button { -moz-image-region: rect(0 80px 20px 60px); }

#tbx-viewsource-button { -moz-image-region: rect(0 160px 32px 128px); }
toolbar[iconsize="small"] #tbx-viewsource-button { -moz-image-region: rect(0 100px 20px 80px); }

#tbx-jsconsole-button { -moz-image-region: rect(0 192px 32px 160px); }
toolbar[iconsize="small"] #tbx-jsconsole-button { -moz-image-region: rect(0 120px 20px 100px); }

#tbx-fullscreen-button { -moz-image-region: rect(0 224px 32px 192px); }
toolbar[iconsize="small"] #tbx-fullscreen-button { -moz-image-region: rect(0 140px 20px 120px); }

#tbx-zoomout-button { -moz-image-region: rect(0 256px 32px 224px); }
toolbar[iconsize="small"] #tbx-zoomout-button { -moz-image-region: rect(0 160px 20px 140px); }

#tbx-zoomreset-button { -moz-image-region: rect(0 288px 32px 256px); }
toolbar[iconsize="small"] #tbx-zoomreset-button { -moz-image-region: rect(0 180px 20px 160px); }

#tbx-zoomin-button { -moz-image-region: rect(0 320px 32px 288px); }
toolbar[iconsize="small"] #tbx-zoomin-button { -moz-image-region: rect(0 200px 20px 180px); }

#tbx-pageinfo-button { -moz-image-region: rect(0 352px 32px 320px); }
toolbar[iconsize="small"] #tbx-pageinfo-button { -moz-image-region: rect(0 220px 20px 200px); }

#tbx-clearcache-button { -moz-image-region: rect(0 384px 32px 352px); }
toolbar[iconsize="small"] #tbx-clearcache-button { -moz-image-region: rect(0 240px 20px 220px); }

#tbx-pagecookies-button { -moz-image-region: rect(0 416px 32px 384px); }
toolbar[iconsize="small"] #tbx-pagecookies-button { -moz-image-region: rect(0 260px 20px 240px); }
#tbx-pagecookies-button .toolbarbutton-menu-dropmarker { display: none; }
#tbx-pagecookies-tooltip { max-width: 65em; }
#tbx-pagecookies-tooltip textbox { background-color: transparent !important; }

#tbx-stopreload-button[state="stop"] {  -moz-image-region: rect(0 448px 32px 416px); }
toolbar[iconsize="small"] #tbx-stopreload-button[state="stop"] { -moz-image-region: rect(0 280px 20px 260px); }

#tbx-stopreload-button { -moz-image-region: rect(0 480px 32px 448px); }
toolbar[iconsize="small"] #tbx-stopreload-button { -moz-image-region: rect(0 300px 20px 280px); }

#tbx-javascript-tabpref[checked="true"] { -moz-image-region: rect(0 512px 32px 480px); }
toolbar[iconsize="small"] #tbx-javascript-tabpref[checked="true"] { -moz-image-region: rect(0 320px 20px 300px); }

#tbx-javascript-tabpref { -moz-image-region: rect(0 544px 32px 512px); }
toolbar[iconsize="small"] #tbx-javascript-tabpref { -moz-image-region: rect(0 340px 20px 320px); }

#tbx-images-tabpref[checked="true"] { -moz-image-region: rect(0 576px 32px 544px); }
toolbar[iconsize="small"] #tbx-images-tabpref[checked="true"] { -moz-image-region: rect(0 360px 20px 340px); }

#tbx-images-tabpref { -moz-image-region: rect(0 608px 32px 576px); }
toolbar[iconsize="small"] #tbx-images-tabpref { -moz-image-region: rect(0 380px 20px 360px); }





/* *** vertical toolbars at left and right of browser window *** */

/* need a min-width so you can easily drag items onto a new toolbar */
toolbox[vertical="true"] > toolbar { min-width: 20px; }

toolbox[vertical="true"] > toolbar > toolbarspacer { height: 15px; }

/* spacer while in customise mode */
toolbox[vertical="true"] > toolbar > toolbarpaletteitem[place="toolbar"] > toolbarspacer { height: 11px; }

/* separator, both normally and while in customise mode */
toolbox[vertical="true"] > toolbar > toolbarseparator,
toolbox[vertical="true"] > toolbar > toolbarpaletteitem[place="toolbar"] > toolbarseparator {
  margin: 0.2em 2px;
  border-bottom: 1px solid ThreeDHighlight;
  border-top: 1px solid ThreeDShadow;
  height: 2px;
  border-left: none;
  border-right: none;
}


/* drag drop feedback when in customisation mode.  using dragover=left and
   right does work correctly, because they work as before and after in practice */
toolbox[vertical="true"] > toolbar > toolbarpaletteitem[place="toolbar"] {
  margin: -2px 0;
  border: none;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
}
toolbox[vertical="true"] > toolbar > toolbarpaletteitem[dragover="left"] { border-top-color: black; }
toolbox[vertical="true"] > toolbar > toolbarpaletteitem[dragover="right"] { border-bottom-color: black; }




/* toolboxes on tab strip and statusbar be completely plain */
.tbx-toolbox-plain {
  padding: 0;
  -moz-box-orient: horizontal;
}
.tbx-toolbox-plain, .tbx-toolbar-plain {
  margin: 0;
  -moz-appearance: none;
  border: none !important;
  background: transparent !important;
}


/* need to have a min size so that items can be dragged into the tabbar/statusbar toolbars */
.tbx-toolbox-plain[incustomisemode="true"] > .tbx-toolbar-plain {
  min-width: 10px;
  min-height: 20px;
}
