@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* extra toolbar buttons */

#toolbarext-options {
  list-style-image: url(chrome://toolbarext/skin/large.png);
  -moz-image-region: rect(0 32px 32px 0);
}
toolbar[iconsize="small"] #toolbarext-options {
  list-style-image: url(chrome://toolbarext/skin/small.png);
  -moz-image-region: rect(0 20px 20px 0);
}

#toolbarext-add-bookmark {
  list-style-image: url(chrome://toolbarext/skin/large.png);
  -moz-image-region: rect(0 64px 32px 32px);
}
toolbar[iconsize="small"] #toolbarext-add-bookmark {
  list-style-image: url(chrome://toolbarext/skin/small.png);
  -moz-image-region: rect(0 40px 20px 20px);
}

#toolbarext-manage-bookmarks {
  list-style-image: url(chrome://toolbarext/skin/large.png);
  -moz-image-region: rect(0 96px 32px 64px);
}
toolbar[iconsize="small"] #toolbarext-manage-bookmarks {
  list-style-image: url(chrome://toolbarext/skin/small.png);
  -moz-image-region: rect(0 60px 20px 40px);
}

#toolbarext-save {
  list-style-image: url(chrome://toolbarext/skin/large.png);
  -moz-image-region: rect(0 128px 32px 96px);
}
toolbar[iconsize="small"] #toolbarext-save {
  list-style-image: url(chrome://toolbarext/skin/small.png);
  -moz-image-region: rect(0 80px 20px 60px);
}

#toolbarext-viewsource {
  list-style-image: url(chrome://toolbarext/skin/large.png);
  -moz-image-region: rect(0 160px 32px 128px);
}
toolbar[iconsize="small"] #toolbarext-viewsource {
  list-style-image: url(chrome://toolbarext/skin/small.png);
  -moz-image-region: rect(0 100px 20px 80px);
}

#toolbarext-jsconsole {
  list-style-image: url(chrome://toolbarext/skin/large.png);
  -moz-image-region: rect(0 192px 32px 160px);
}
toolbar[iconsize="small"] #toolbarext-jsconsole {
  list-style-image: url(chrome://toolbarext/skin/small.png);
  -moz-image-region: rect(0 120px 20px 100px);
}

#toolbarext-fullscreen {
  list-style-image: url(chrome://toolbarext/skin/large.png);
  -moz-image-region: rect(0 224px 32px 192px);
}
toolbar[iconsize="small"] #toolbarext-fullscreen {
  list-style-image: url(chrome://toolbarext/skin/small.png);
  -moz-image-region: rect(0 140px 20px 120px);
}

#toolbarext-zoomin {
  list-style-image: url(chrome://toolbarext/skin/large.png);
  -moz-image-region: rect(0 256px 32px 224px);
}
toolbar[iconsize="small"] #toolbarext-zoomin {
  list-style-image: url(chrome://toolbarext/skin/small.png);
  -moz-image-region: rect(0 160px 20px 140px);
}

#toolbarext-zoomout {
  list-style-image: url(chrome://toolbarext/skin/large.png);
  -moz-image-region: rect(0 288px 32px 256px);
}
toolbar[iconsize="small"] #toolbarext-zoomout {
  list-style-image: url(chrome://toolbarext/skin/small.png);
  -moz-image-region: rect(0 180px 20px 160px);
}

#toolbarext-pageinfo {
  list-style-image: url(chrome://toolbarext/skin/large.png);
  -moz-image-region: rect(0 320px 32px 288px);
}
toolbar[iconsize="small"] #toolbarext-pageinfo {
  list-style-image: url(chrome://toolbarext/skin/small.png);
  -moz-image-region: rect(0 200px 20px 180px);
}

#toolbarext-clearcache {
  list-style-image: url(chrome://toolbarext/skin/large.png);
  -moz-image-region: rect(0 352px 32px 320px);
}
toolbar[iconsize="small"] #toolbarext-clearcache {
  list-style-image: url(chrome://toolbarext/skin/small.png);
  -moz-image-region: rect(0 220px 20px 200px);
}

#toolbarext-cookiemanager {
  list-style-image: url(chrome://toolbarext/skin/large.png);
  -moz-image-region: rect(0 384px 32px 352px);
}
toolbar[iconsize="small"] #toolbarext-cookiemanager {
  list-style-image: url(chrome://toolbarext/skin/small.png);
  -moz-image-region: rect(0 240px 20px 220px);
}

#tbext-pagecookies-button {
  list-style-image: url(chrome://toolbarext/skin/large.png);
  -moz-image-region: rect(0 416px 32px 384px);
}
toolbar[iconsize="small"] #tbext-pagecookies-button {
  list-style-image: url(chrome://toolbarext/skin/small.png);
  -moz-image-region: rect(0 260px 20px 240px);
}
#tbext-pagecookies-button .toolbarbutton-menu-dropmarker { display: none; }
#tbext-pagecookies-tooltip { max-width: 65em; }
#tbext-pagecookies-tooltip textbox { background-color: transparent !important; }

#toolbarext-stopreload[state="stop"] {
  list-style-image: url(chrome://toolbarext/skin/large.png);
  -moz-image-region: rect(0 448px 32px 416px);
}
toolbar[iconsize="small"] #toolbarext-stopreload[state="stop"] {
  list-style-image: url(chrome://toolbarext/skin/small.png);
  -moz-image-region: rect(0 280px 20px 260px);
}

#toolbarext-stopreload {
  list-style-image: url(chrome://toolbarext/skin/large.png);
  -moz-image-region: rect(0 480px 32px 448px);
}
toolbar[iconsize="small"] #toolbarext-stopreload {
  list-style-image: url(chrome://toolbarext/skin/small.png);
  -moz-image-region: rect(0 300px 20px 280px);
}





/* *** vertical toolbars at left and right of browser window *** */

/* need a min-width so you can easily drag items onto a new toolbar */
toolbox[vertical="true"] > toolbar { min-width: 20px; }

toolbox[vertical="true"] > toolbar > toolbarspacer { height: 15px; }

/* spacer while in customise mode */
toolbox[vertical="true"] > toolbar > toolbarpaletteitem[place="toolbar"] > toolbarspacer { height: 11px; }

/* separator, both normally and while in customise mode */
toolbox[vertical="true"] > toolbar > toolbarseparator,
toolbox[vertical="true"] > toolbar > toolbarpaletteitem[place="toolbar"] > toolbarseparator {
  margin: 0.2em 2px;
  border-bottom: 1px solid ThreeDHighlight;
  border-top: 1px solid ThreeDShadow;
  height: 2px;
  border-left: none;
  border-right: none;
}


/* drag drop feedback when in customisation mode.  using dragover=left and
   right does work correctly, because they work as before and after in practice */
toolbox[vertical="true"] > toolbar > toolbarpaletteitem[place="toolbar"] {
  margin: -2px 0;
  border: none;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
}
toolbox[vertical="true"] > toolbar > toolbarpaletteitem[dragover="left"] { border-top-color: #000000; }
toolbox[vertical="true"] > toolbar > toolbarpaletteitem[dragover="right"] { border-bottom-color: #000000; }




/* the toolars/boxes on the tab strip should have a very plain appearance */
.toolbarext-tabbar-toolbox {
  padding: 0;
  -moz-box-orient: horizontal;
}
.toolbarext-tabbar-toolbox,
.toolbarext-tabbar-toolbar {
  margin: 0;
  -moz-appearance: none;
  border: none !important;
}

.toolbarext-tabbar-toolbox[incustomisemode="true"] > toolbar {
  min-width: 10px;
  min-height: 20px;
}
