/* ***** BEGIN LICENSE BLOCK *****
 * Version: NPL 1.1/GPL 2.0/LGPL 2.1
 *
 * The contents of this file are subject to the Netscape Public License
 * Version 1.1 (the "License"); you may not use this file except in
 * compliance with the License. You may obtain a copy of the License at
 * http://www.mozilla.org/NPL/
 *
 * Software distributed under the License is distributed on an "AS IS" basis,
 * WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License
 * for the specific language governing rights and limitations under the
 * License.
 *
 * The Original Code is the LinkToolbar for Firebird/NN7 extension
 *
 * Contributor(s):
 *   Stephen Clavering <mozilla@clav.co.uk>   (Complete rewrite 2003-04-17)
 *   Chris Neale <cdn@mozdev.org>  [ tweaks and email icon for [mailto:]s ]
 *
 *
 * Alternatively, the contents of this file may be used under the terms of
 * either the GNU General Public License Version 2 or later (the "GPL"), or
 * the GNU Lesser General Public License Version 2.1 or later (the "LGPL"),
 * in which case the provisions of the GPL or the LGPL are applicable instead
 * of those above. If you wish to allow use of your version of this file only
 * under the terms of either the GPL or the LGPL, and not to allow others to
 * use your version of this file under the terms of the NPL, indicate your
 * decision by deleting the provisions above and replace them with the notice
 * and other provisions required by the GPL or the LGPL. If you do not delete
 * the provisions above, a recipient may use your version of this file under
 * the terms of any one of the NPL, the GPL or the LGPL.
 *
 * ***** END LICENSE BLOCK ***** */


/* Link toolbar items
!imp needed on image to override bookmark style images from class attr */

#link-top, #link-up, #link-first,
#link-prev, #link-next, #link-last {
  list-style-image: url("chrome://linktoolbar/skin/btn1/buttons.png") !important;
}
#link-top[disabled="true"], #link-up[disabled="true"], #link-first[disabled="true"],
#link-prev[disabled="true"], #link-next[disabled="true"], #link-last[disabled="true"] {
  color: graytext !important;
  text-decoration: none;
}

#link-top {
  -moz-image-region: rect(0 16px 16px 0);
}
#link-top:hover {
  -moz-image-region: rect(16px 16px 32px 0);
}
#linktoolbar > #link-top[disabled="true"] {
  -moz-image-region: rect(32px 16px 48px 0);
}


#link-up {
  -moz-image-region: rect(0 32px 16px 16px);
}
#link-up:hover {
  -moz-image-region: rect(16px 32px 32px 16px);
}
#link-up[disabled="true"] {
  -moz-image-region: rect(32px 32px 48px 16px);
}


#link-up > .toolbarbutton-menubutton-button {
  -moz-box-orient: horizontal !important;
}

#link-up > .toolbarbutton-text {
  display: block !important;
}

#link-up > .toolbarbutton-menubutton-dropmarker,
#link-next > .toolbarbutton-menubutton-dropmarker {
  list-style-image: url("chrome://linktoolbar/skin/btn1/up.gif");
}

#link-up[disabled="true"] > .toolbarbutton-menubutton-dropmarker,
#link-next[disabled="true"] > .toolbarbutton-menubutton-dropmarker {
  list-style-image: url("chrome://linktoolbar/skin/btn1/up-dis.gif") !important;
}


#link-first {
  -moz-image-region: rect(0 48px 16px 32px);
}
#link-first:hover {
  -moz-image-region: rect(16px 48px 32px 32px);
}
#link-first[disabled="true"] {
  -moz-image-region: rect(32px 48px 48px 32px);
}

#link-prev { -moz-image-region: rect(0 64px 16px 48px); }
#link-prev:hover { -moz-image-region: rect(16px 64px 32px 48px); }
#link-prev[disabled="true"] {
  -moz-image-region: rect(32px 64px 48px 48px);
}

#link-next { -moz-image-region: rect(0 80px 16px 64px); }
#link-next:hover { -moz-image-region: rect(16px 80px 32px 64px); }
#link-next[disabled="true"] {
  -moz-image-region: rect(32px 80px 48px 64px);
}

#link-last { -moz-image-region: rect(0 96px 16px 80px); }
#link-last:hover { -moz-image-region: rect(16px 96px 32px 80px); }
#link-last[disabled="true"] {
  -moz-image-region: rect(32px 96px 48px 80px);
}


#document-menu[disabled="true"], #more-menu[disabled="true"] {
  color: graytext !important;
}


#linktoolbar menuitem[href^="mailto:"],
#linktoolbar menuitem[statustext^="mailto:"],
#linktoolbar .bookmark-item[href^="mailto:"],
#linktoolbar .bookmark-item[statustext^="mailto:"] {
  border-bottom: 1px dashed red;
  list-style-image: url("chrome://linktoolbar/skin/btn1/mail.png") !important;
/* would be unnecessary but for !importants sprinkled throughout browser.css and related files */
}

#linktoolbar-toggle {
  list-style-image: url("chrome://linktoolbar/skin/btn1/chevron.gif");
  padding: 2px 0;
}

#linktoolbar-toggle[left="true"] {
  list-style-image: url("chrome://linktoolbar/skin/btn1/norvehc.gif");
}

/* Hide the link toolbar if it is set to autohide is empty */

#linktoolbar[hidden="maybe"][hasitems="false"] {
  display:none;
}
