tabbrowser .tab-text {
  -moz-binding: url(chrome://tabx/content/tabx.xml#tablabel);
  -moz-box-align: center;
  /* the label.tab-text-tabx still has the expected margin (in Pinstripe, at least) */
  margin: 0;
}

tabbrowser tabs .tabs-closebutton {
  display: none;
}

.tabx-tab-close-button {
  padding: 0;
  width: auto;
  height: auto;
  display: -moz-box !important; /* override rule above */
}
