@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

toolbox[palette] > toolbar { -moz-binding: url(chrome://toolbarext/content/bindings.xml#toolbar); }
toolbox[palette] { -moz-binding: url(chrome://toolbarext/content/bindings.xml#customisable-toolbox); }


/* the toolboxes down the left and right need to have horizontal orientation so the toolbars
   sit side by side.  then the toolbars inside them need to be vertically oriented
   (toolbox could have just had an orient=horizontal attribute, but that's counter-intuitive)

   As min-width is needed so that a newly created toolbar is visible and can have items
   dragged onto it easily.  20px is the right min-width for the default theme, and is
   set in the skin package, but we want a fallback for other themes just in case */
toolbox[vertical="true"] { -moz-box-orient: horizontal; }
toolbox[vertical="true"] > toolbar { -moz-box-orient: vertical; min-width: 5px; }

/* uses a vbox as a wrapper rather than an hbox.  needed for separators */
toolbox[vertical="true"] > toolbar > toolbarpaletteitem[place="toolbar"] {
  -moz-binding: url(chrome://toolbarext/content/bindings.xml#toolbarpaletteitem-vertical);
}


/* binding to add a toolbar to the start and end of the tab strip */
#appcontent tabbrowser .tabbrowser-strip {
  -moz-binding: url(chrome://toolbarext/content/bindings.xml#tab-strip-toolbars);
}

