.tabx-tab-close-button {
  list-style-image: url(close.png);
  -moz-image-region: rect(0 8px 7px 0);
  padding: 3px;
  margin: 0 2px;
}
.tabx-tab-close-button:hover {
  -moz-image-region: rect(0 16px 7px 8px);
}
