/*
Licence: MPL 1.1/GPL 2.0/LGPL 2.1

The Original Code is the Link Widget extension for Firefox

Contributor(s):
  Stephen Clavering <mozilla@clav.me.uk>
  Chris Neale <cdn@mozdev.org>  (tweaks and email icon for mailto: links)
*/

.linkwidget-button, .linkwidget-button menu, .linkwidget-button menuitem {
  list-style-image: url(chrome://linkwidget/skin/buttons.png) !important;
}

/* for the default theme we use icons with built-in dropmarkers, but other themes might want to keep them separate */
.linkwidget-button dropmarker { display: none }

.linkwidget-button > .toolbarbutton-menubutton-button { -moz-box-orient: horizontal; }

/* Charamel sets -moz-image-region on the <hbox> wrapping the <image> within <menuitem>s */
.linkwidget-button .menu-iconic-left { -moz-image-region: inherit !important; }

#linkwidget-top { -moz-image-region: rect(0 16px 16px 0); }
#linkwidget-top:hover { -moz-image-region: rect(16px 16px 32px 0); }
#linkwidget-top[multi] { -moz-image-region: rect(0 112px 16px 96px); }
#linkwidget-top[multi]:hover { -moz-image-region: rect(16px 112px 32px 96px); }
#linkwidget-top[disabled=true] { -moz-image-region: rect(32px 16px 48px 0); }

#linkwidget-up { -moz-image-region: rect(0 32px 16px 16px); }
#linkwidget-up:hover { -moz-image-region: rect(16px 32px 32px 16px); }
#linkwidget-up[multi] { -moz-image-region: rect(0 128px 16px 112px); }
#linkwidget-up[multi]:hover { -moz-image-region: rect(16px 128px 32px 112px); }
#linkwidget-up[disabled=true]   { -moz-image-region: rect(32px 32px 48px 16px); }

#linkwidget-first { -moz-image-region: rect(0 48px 16px 32px); }
#linkwidget-first:hover { -moz-image-region: rect(16px 48px 32px 32px); }
#linkwidget-first[multi] { -moz-image-region: rect(0 144px 16px 128px); }
#linkwidget-first[multi]:hover { -moz-image-region: rect(16px 144px 32px 128px); }
#linkwidget-first[disabled=true]   { -moz-image-region: rect(32px 48px 48px 32px); }

#linkwidget-prev { -moz-image-region: rect(0 64px 16px 48px); }
#linkwidget-prev:hover { -moz-image-region: rect(16px 64px 32px 48px); }
#linkwidget-prev[multi] { -moz-image-region: rect(0 160px 16px 144px); }
#linkwidget-prev[multi]:hover { -moz-image-region: rect(16px 160px 32px 144px); }
#linkwidget-prev[disabled=true]   { -moz-image-region: rect(32px 64px 48px 48px); }

#linkwidget-next { -moz-image-region: rect(0 80px 16px 64px); }
#linkwidget-next:hover { -moz-image-region: rect(16px 80px 32px 64px); }
#linkwidget-next[multi] { -moz-image-region: rect(0 176px 16px 160px); }
#linkwidget-next[multi]:hover { -moz-image-region: rect(16px 176px 32px 160px); }
#linkwidget-next[disabled=true]   { -moz-image-region: rect(32px 80px 48px 64px); }

#linkwidget-last { -moz-image-region: rect(0 96px 16px 80px); }
#linkwidget-last:hover { -moz-image-region: rect(16px 96px 32px 80px); }
#linkwidget-last[multi] { -moz-image-region: rect(0 192px 16px 176px); }
#linkwidget-last[multi]:hover { -moz-image-region: rect(16px 192px 32px 176px); }
#linkwidget-last[disabled=true]   { -moz-image-region: rect(32px 96px 48px 80px); }

/* folder, page and email icons */
.linkwidget-button menuitem { -moz-image-region: rect(32px 144px 48px 128px); }
.linkwidget-button menu, #linkwidget-more-menu { -moz-image-region: rect(32px 160px 48px 144px); }
.linkwidget-button menu[open=true],
#linkwidget-more-menu[open=true] { -moz-image-region: rect(32px 176px 48px 160px); }
#linkwidget-more-menu[disabled=true] { -moz-image-region: rect(32px 192px 48px 176px); }
.linkwidget-button menuitem[href^="mailto:"] { -moz-image-region: rect(32px 112px 48px 96px); }

#status-bar .linkwidget-button { max-height: none; }
